
*{
    font-family: sans-serif;
}
nav {
    border: 1px solid black;
    text-align: center;
}

nav a{
    text-decoration: none;
    margin: 35px;
}

.section{
    margin-bottom: 20px;
}

.section h3{
   margin-bottom: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content img{
    max-width: 100px;
    height: auto;
}

.heading{
    font-size: 70px;
}

h3{
    font-size: 50px;
}

p{
    font-size: 25px;
}
